---
interface Props {
  experience: {
    company: string;
    position: string;
    date: string;
    description: string;
    highlights: string[];
  }
}

const { experience } = Astro.props;
---

<div
      class="max-w-xl p-8 flex flex-col gap-6 rounded-2xl relative overflow-hidden
                    border-[0.5px] border-border/20
                    shadow-lg hover:shadow-xl hover:shadow-black/10
                    transition-all duration-300 group"
    >
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <h3 class="font-normal text-sm sm:text-base tracking-tight">{experience.company}</h3>
          <h4 class="text-lg sm:text-xl md:text-2xl font-normal tracking-tight ">
            {experience.position}
          </h4>
          <time class="text-sm sm:text-base tracking-tight text-muted-foreground/80">{experience.date}</time>
        </div>
      </div>

      <div class="flex flex-col gap-5">
        <p class="text-sm sm:text-base md:text-lg tracking-tight text-foreground/90 leading-relaxed">
          {experience.description}
        </p>

        {/* Improved highlights design */}
        <div class="space-y-3">
          <h5 class="text-sm font-medium text-muted-foreground/80 uppercase">
            Principales logros
          </h5>
          <div class="grid gap-2">
            {experience.highlights.map((highlight) => (
              <div
                class="flex items-start"
              >
                <span class="text-sm sm:text-base text-foreground/90 leading-relaxed">- {highlight}</span>
              </div>
            ))}
          </div>
        </div>
      </div>


      <div class="rounded-2xl bg-gradient-to-r from-primary/5 to-blue-500/5 opacity-0 group-hover:opacity-100 transition-opacity duration-500 pointer-events-none" />
    </div>